/* AboutPage.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.centerText {
  text-align: center;
  margin-bottom: 2rem;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Adjust based on your design */
  margin: 0 auto; /* Center the wrapper horizontally */
}

.leftText, .rightText, .previewSection{
  flex: 1;
  margin: 0 1rem; /* Space between sections */
  padding: 1rem;
  background: linear-gradient(to bottom, #f0f0f0, #d9d9d9); /* Gradation gray background */
  max-width: 800px;
  max-height: 400px; /* Set a maximum height */ 
  border: 1px solid #ddd; /* Subtle border to separate the section */
  border-radius: 8px; /* Rounded corners for a modern look */
  overflow-y: auto; 
}

.leftText {
  background: linear-gradient(to bottom, #f0f0f0, #d9d9d9); /* Gradation gray background */
}

.rightText {
  background: linear-gradient(to bottom, #f0f0f0, #d9d9d9); /* Gradation gray background */
  min-height: 100%;
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }

  .leftText, .rightText {
    margin: 1rem 0;
  }
}

/* for preview */

/* Style the heading inside the preview section */
.previewSection h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Style the link in the preview section */
.previewSection a {
  color: #0070f3; /* Color for the link */
  text-decoration: none; /* Remove underline from the link */
  font-weight: bold;
}

.previewSection a:hover {
  text-decoration: underline; /* Underline on hover for better user experience */
}


